 {% load staticfiles %}
 <link rel="stylesheet" href="{% static 'css/begin_page.css' %}">
 <link rel="stylesheet" href="{% static 'css/abills_page.css' %}">

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="http://127.0.0.1:8000/">Home page /</a>
            <a class="navbar-brand" href="http://127.0.0.1:8000/abilities">Abilities </a>
        </div>
      </div>
    </nav>




</div>
<div class="jumbotron">
      <div class="container">
          <h2>Подробнее о возможностях приложения</h2>
          <p>Здесь можно ознакомиться с чем то там</p>
</div>

</div>
 <div class = "y">

     <h4> One note</h4>
     <hr>
     <p style="margin: 15px;">Вот так мы умеем делать какие молодцы</p>
 </div>




</body>
</html>