 {% load staticfiles %}
 <link rel="stylesheet" href="{% static 'css/begin_page.css' %}">
 <link rel="stylesheet" href="{% static 'css/abills_page.css' %}">

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="http://127.0.0.1:8000/">Home page</a>
        </div>
      </div>
    </nav>



<div class="jumbotron">
      <div class="container">
          <h2>Удалено</h2>
</div>
    {{d}}
</div>

</body>
</html>
