 {% load staticfiles %}
 <link rel="stylesheet" href="{% static 'css/begin_page.css' %}">
 <link rel="stylesheet" href="{% static 'css/abills_page.css' %}">

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
           <a class="navbar-brand" href="http://127.0.0.1:8000">Home page /</a>
                         <a class="navbar-brand" href="http://127.0.0.1:8000/start">Start /</a>
            <a class="navbar-brand" href="http://127.0.0.1:8000/start/Onenote">OneNote /</a>

        </div>
      </div>
    </nav>



<div class="jumbotron">
      <div class="container">
          <h2>Удаление прошло успешно</h2>

</div>

</div>
<p><a class="btn btn-default" href="/new_note" role="button">Добавить новую записную книжку &raquo;</a></p>

<p><a class="btn btn-default" href="/new_section" role="button">Добавить страницу &raquo;</a></p>
<p><a class="btn btn-default" href="/new_page" role="button">Добавить секцию &raquo;</a></p>
</body>
</html>
