{% load staticfiles %}
 <link rel="stylesheet" href="{% static 'css/begin_page.css' %}">
 <link rel="stylesheet" href="{% static 'css/abills_page.css' %}">

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title></title>

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="jumbotron.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>

    <![endif]-->

  <body>



    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <a class="navbar-brand" href="http://127.0.0.1:8000">Home page /</a>
                         <a class="navbar-brand" href="http://127.0.0.1:8000/start">Start /</a>
            <a class="navbar-brand" href="http://127.0.0.1:8000/start/Onenote">OneNote /</a>
            <a class="navbar-brand" href="http://127.0.0.1:8000/upload">Upload page/</a>


        </div>
      </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->


<div class="jumbotron">
      <div class="container">
          <h2>Новая записная книга</h2>
        <p>Чтобы добавить новую записную книгу, введите ее название в форму ниже.</p>
</div>
</div>

<form method="POST" class="post-form">{% csrf_token %}
    {{ form.as_p }}
    <button type="submit" action = "http://127.0.0.1:8000/start" class="save btn btn-default">Save</button>
</form>

</body>
</html>