< {% load staticfiles %}
 <link rel="stylesheet" href="{% static 'css/begin_page.css' %}">
 <link rel="stylesheet" href="{% static 'css/abills_page.css' %}">

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="background-color:black";>
<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
                     <a class="navbar-brand" href="http://127.0.0.1:8000/">Home page /</a>
            <a class="navbar-brand" href="http://127.0.0.1:8000/start">Start /</a>
            <a class="navbar-brand" href="http://127.0.0.1:8000/start/Onenote">Onenote</a>

        </div>
      </div>
    </nav>

<div >
<div class="jumbotron" style="background-color:black" >
      <div class="container">
          <h3 ><a href="http://127.0.0.1:8000/info">Получите информацию о себе</a></h3>
      </div>
</div>

<div class="jumbotron" style="background-color:black">
      <div class="container">
          <h3><a href="http://127.0.0.1:8000/notebooks">Получите или удалите информацию о имеющихся блокнотах</a></h3>
    </div>
</div>
    <div  class="jumbotron" style="background-color:black">
      <div class="container">
          <h3><a href="http://127.0.0.1:8000/upload">Добавьте новую информацию</a></h3>
      </div>
</div>
    <div  class="jumbotron" style="background-color:black">
      <div class="container">
          <h3><a href="http://127.0.0.1:8000/change">Обновите уже имеющиеся у вас блокноты</a></h3>
      </div>
</div>

</div>
</body>
</html>