 {% load staticfiles %}
 <link rel="stylesheet" href="{% static 'css/begin_page.css' %}">
 <link rel="stylesheet" href="{% static 'css/abills_page.css' %}">

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="http://127.0.0.1:8000">Home page /</a>
                         <a class="navbar-brand" href="http://127.0.0.1:8000/start">Start /</a>
            <a class="navbar-brand" href="http://127.0.0.1:8000/start/Onenote">OneNote /</a>

        </div>
      </div>
    </nav>



<div class="jumbotron">
      <div class="container">
          <h2>Записная книга:{{name}}</h2>
            <p>Ниже представлено содержимое записной книги</p>
    </div>
</div>

<h4>ID записной книжки:<p>{{pp.num}}</p></h4>
<h4>Количество секций в записной книжке:<p>{{ns}}</p></h4>
{%for key, value in dict.items%}

<p>Название секции:<p>{{key}}</p></p>
    {%for k1,v1 in value.items%}
<div class="container"><h4>Страница:<p>{{k1}}</p></h4>
            {%for k2,v2 in v1.items%}
    <div class="container"><div class="container"><p>ID страницы:<p>{{k2}}</p></p>
<p>Содержимое страницы:<p>{{v2}}</p></p>
                {%endfor%}
    </div></div>
    </div>
    {%endfor%}


{%endfor%}
<p>Пример изменения контента {{example}}</p>
<p>Вам осталось выбрать id страницы и вставить в после id_n, а в поле name вставить измененный контент.</p>

<form method="POST" class="post-form">{% csrf_token %}
    {{ form.as_p }}
    <button type="submit" action = "http://127.0.0.1:8000/notebook_detail" class="save btn btn-default">Save</button>
</form>
</body>
</html>