 {% load staticfiles %}
 <link rel="stylesheet" href="{% static 'css/begin_page.css' %}">
 <link rel="stylesheet" href="{% static 'css/start_page.css' %}">

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="background-color:purple">
<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
           <a class="navbar-brand" href="http://127.0.0.1:8000/">Home page /</a><a class="navbar-brand" href="http://127.0.0.1:8000/start">Start</a>

        </div>
      </div>
    </nav>


<div style="background-color:purple; height:960px;" class="jumbotron">
      <div style = "position:center;margin: 280px;" class="container">
          <h1 style = "color:black;left:170px;position:center;" ><a style = "color:black;"href="http://127.0.0.1:8000/start/Onenote">OneNote</a></h1>
</div>
</div>



</body>

</html>

