{% load staticfiles %}
 <link rel="stylesheet" href="{% static 'css/begin_page.css' %}">
 <link rel="stylesheet" href="{% static 'css/abills_page.css' %}">

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="http://127.0.0.1:8000">Home page /</a>
                         <a class="navbar-brand" href="http://127.0.0.1:8000/start">Start /</a>
            <a class="navbar-brand" href="http://127.0.0.1:8000/start/Onenote">OneNote /</a>
        </div>
      </div>
    </nav>




</div>
<div class="jumbotron">
      <div class="container">
          <h2>Здесь вы можете загрузить новую информацию</h2>
          <p>Выберите, что вы хотели бы загрузить</p>
</div>
</div>

<div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Записная книжка</h2>

          <p><a class="btn btn-default" href="/upload/notebook" role="button">Посмотреть &raquo;</a></p>
        </div>
      </div>
</div>

<div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Секция</h2>

          <p><a class="btn btn-default" href="/upload/section" role="button">Посмотреть &raquo;</a></p>
        </div>
      </div>
</div>

<div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Страница</h2>

          <p><a class="btn btn-default" href="/upload/content" role="button">Посмотреть &raquo;</a></p>
        </div>
      </div>
</div>
